{% extends 'base/base.html' %}

{% block page_header %}
    ABOUT
{% endblock page_header %}

{% block content %}
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hi autem ponunt illi quidem prima naturae, sed ea seiungunt a finibus et a summa bonorum; Et nunc quidem quod eam tuetur, ut de vite potissimum loquar, est id extrinsecus; Omnia peccata paria dicitis. Quarum ambarum rerum cum medicinam pollicetur, luxuriae licentiam pollicetur. Duo Reges: constructio interrete. Huius ego nunc auctoritatem sequens idem faciam. </p>

<p>Idem etiam dolorem saepe perpetiuntur, ne, si id non faciant, incidant in maiorem. Hoc loco tenere se Triarius non potuit. <a href="http://loripsum.net/" target="_blank">Non risu potius quam oratione eiciendum?</a> Mihi enim satis est, ipsis non satis. Gerendus est mos, modo recte sentiat. Illis videtur, qui illud non dubitant bonum dicere -; Et ille ridens: Video, inquit, quid agas; <a href="http://loripsum.net/" target="_blank">Hanc quoque iucunditatem, si vis, transfer in animum;</a> <a href="http://loripsum.net/" target="_blank">Conferam tecum, quam cuique verso rem subicias;</a> Bonum integritas corporis: misera debilitas. </p>

<p>Deinde prima illa, quae in congressu solemus: Quid tu, inquit, huc? <b>Nam quid possumus facere melius?</b> Urgent tamen et nihil remittunt. Mihi quidem Antiochum, quem audis, satis belle videris attendere. Tum Torquatus: Prorsus, inquit, assentior; Fatebuntur Stoici haec omnia dicta esse praeclare, neque eam causam Zenoni desciscendi fuisse. <a href="http://loripsum.net/" target="_blank">Efficiens dici potest.</a> <mark>Aliter enim nosmet ipsos nosse non possumus.</mark> </p>

<p>Atque ab his initiis profecti omnium virtutum et originem et progressionem persecuti sunt. Huic mori optimum esse propter desperationem sapientiae, illi propter spem vivere. Quia dolori non voluptas contraria est, sed doloris privatio. <a href="http://loripsum.net/" target="_blank">Atqui reperies, inquit, in hoc quidem pertinacem;</a> Deinde disputat, quod cuiusque generis animantium statui deceat extremum. </p>

<p>Quos quidem tibi studiose et diligenter tractandos magnopere censeo. <a href="http://loripsum.net/" target="_blank">Sed plane dicit quod intellegit.</a> Quis enim redargueret? <a href="http://loripsum.net/" target="_blank">Nosti, credo, illud: Nemo pius est, qui pietatem-;</a> <a href="http://loripsum.net/" target="_blank">Vide, quantum, inquam, fallare, Torquate.</a> Nam aliquando posse recte fieri dicunt nulla expectata nec quaesita voluptate. </p>

<p>Non potes, nisi retexueris illa. Sed ad illum redeo. Praeclare hoc quidem. -, sed ut hoc iudicaremus, non esse in iis partem maximam positam beate aut secus vivendi. Conclusum est enim contra Cyrenaicos satis acute, nihil ad Epicurum. Ergo illi intellegunt quid Epicurus dicat, ego non intellego? Nunc omni virtuti vitium contrario nomine opponitur. Deinde prima illa, quae in congressu solemus: Quid tu, inquit, huc? Quid ergo hoc loco intellegit honestum? Non autem hoc: igitur ne illud quidem. Non enim, si omnia non sequebatur, idcirco non erat ortus illinc. </p>


{% endblock content %}